<?xml version="1.0" ?>
<model>
    <name>chair_1</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name></name>
        <email></email>
    </author>
    <description>
      Chair model for AHG apartment kitchen - found in a dataset used for this research: A.Rasouli, J.K. Tsotsos. "The Effect of Color Space 		  Selection on Detectability and Discriminability of Colored Objects." arXiv preprint arXiv:1702.05421 (2017).
    </description>
</model>
